
<h5>Catalogo de Productos</h5>
 <!-- <a id="pagar-btn" class="waves-effect red accent-4 btn-large"><span class="black-text text-darken-2">Pagar Ahora</span></a>	 -->
   <a id="Registrarse-btn" class="waves-effect indigo darken-4 btn-large" href="/users/sign_up">Registrarse</a>	
   <a id="ingresar-btn" class="waves-effect lime accent-3 btn-large" href="/users/sign_in"><span class="black-text text-darken-2">Ingresar</span></a>

<a id="pagarmp" mp-mode="dftl" href="https://www.mercadopago.com/mlv/checkout/start?pref_id=35930295-8c5bb75f-b183-4183-9e7e-c958548e6b6c" name="MP-payButton" class='blue-ar-l-rn-none'>Pagar ACEITE FORTLUB</a>


<ul class="collection">
    <li class="collection-item avatar">
      <!-- <img src="./app/assets/images/fortlub.jpg" alt="" class="circle"> -->
      <%= image_tag "fortlub.jpg", :class =>"circle" %>
      <span class="title">Aceite para carro Fortlub</span>
      <p>Precio<br>
         2.000.000 Bs.
      </p>
      <a  mp-mode="dftl" href="https://www.mercadopago.com/mlv/checkout/start?pref_id=35930295-8c5bb75f-b183-4183-9e7e-c958548e6b6c" class="secondary-content"  name="MP-payButton" >Pagar</a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Jabon de Tocador 90 Gr. Palmolive</span>
      <p>Precio<br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Azucar 1 Kg</span>
      <p>Precio<br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Arroz 1 Kg.</span>
      <p>Precio <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Harina de trigo 1 Kg.</span>
      <p>Precio <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Crema dental Colgate triple accion de 180 Gr.</span>
      <p>Precio <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>



    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Aceite de Soya ABC 900 Ml.</span>
      <p>Precio <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>


<h6>Powered by <%= image_tag "mplogo.png", :size =>"90x15" %></h6> 


 </div>

<script>
	$( "#Registrarse-btn" ).hide();
	$( "#ingresar-btn" ).hide();
    $("#pagarmp").hide();
  

</script>
<script>
$("#pagar-btn").click(function() {
	<% if user_signed_in? %>



     <%else%> 	


     	 $('#pagar-btn').addClass('animated bounceOut')

     	 setTimeout(function(){

         $( "#pagarmp" ).show(300)
               
        $('#pagar-btn').removeClass('animated bounceOut')
         $('#pagar-btn').hide()


            },200);
 


    <%end%>
});
</script>
