
<h3>Plataforma de Pagos</h3>

<div class="card-panel">
   <a class="waves-effect indigo darken-4 btn-large">Registrarse</a>
<a class="waves-effect lime accent-3 btn-large"><span class="black-text text-darken-2">Ingresar</span></a>
  </div>
<h5>Powered by <%= image_tag "mplogo.png", :size =>"110x25" %></h5> 